h1{
    text-align:center
}
.container{
    background-color: rgb(255,255,255);
    padding: 10px ;
}
.marker{
    width: 200px;
    height: 30px;
    margin: 10px auto;
}
/*using rgb color*/
.red{
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8) /*using  red*/;
    background:linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
}
/*using hex color*/
.green{
    box-shadow: 0 0 20px 0 #3B7E20CC /*using  green*/;
    background:linear-gradient(#55680D, #71F53E, #116C31);
}
/*using hsl scolor*/
.blue{
    box-shadow: 0 0 20px 0 blue ;
    background:linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%,42%));
}
.sleeve{
    width:100px;
    height: 30px; 
    background:rgba(255,255,255,0.5);
    border-left: 10px double rgba(0,0,0,0.75) /*using  black*/;
}
.cap{
    width: 60px;
    height: 30px; 

}
.sleeve,.cap{
    display: inline-block;
}